{% extends "base.html" %}

{% block title %}Belka żelbetowa{% endblock %}

{% block content %}

<br />
<h1 align="center">Belka żelbetowa - wymiarowanie</h1><br>


<h2 align="left" style="color: black">Dane początkowe</h2><br>

<h5 align="left" style="color: rgb(0, 153, 255)">Schemat statyczny i dane geometryczne</h5><br>



<h6 align="left">Wybierz schemat statyczny:</h6>
<form method="POST">

	<div class="form-check">
	  <input class="form-check-input" type="radio" name="static_scheme" id="swobodnie podparta" value="swobodnie podparta" checked>
	  <label class="form-check-label" for="swobodnie podparta">
	    Belka swobodnie podparta
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="static_scheme" id="obustronnie utwierdzona" value="obustronnie utwierdzona">
	  <label class="form-check-label" for="obustronnie utwierdzona">
	    Belka obustronnie utwierdzona
	  </label>
	</div>

	<br>

	<div class="form-group">
		<label for="length">Długość efektywna</label>
		<input
			type="text"
			class="form-control"
			id="length"
			name="length"
			placeholder="l [m]"
		/>
		
	</div>

 	<div class="form-group">
		<label for="height">Wysokość przekroju</label>
		<input
			type="text"
			class="form-control"
			id="height"
			name="height"
			placeholder="h [cm]"
		/>
		
	</div>


 	<div class="form-group">
		<label for="width">Szerokość przekroju</label>
		<input
			type="text"
			class="form-control"
			id="width"
			name="width"
			placeholder="b [cm]"
		/>
		
	</div>

	<h5 align="left" style="color: rgb(0, 153, 255)">Obciążenie</h5><br>

 	<div class="form-group">
		<label for="q_def">Obciążenie równomiernie rozłożone (wartość obliczeniowa)</label>
		<input
			type="text"
			class="form-control"
			id="q_def"
			name="q_def"
			placeholder="q [kN/m]"
		/>
		
	</div>

 	<div class="form-group">
		<label for="des_sit">Sytuacja obliczeniowa:</label>
		<select
			class="form-control"
			id="des_sit"
			name="des_sit">
				<option>trwała lub przejściowa</option>
				<option>wyjątkowa</option>
		</select>
		
	</div>
	
	<h5 align="left" style="color: rgb(0, 153, 255)">Dane materiałowe</h5><br>


	<div class="form-group">
		<label for="strength_class">Klasa betonu:</label>
		<select
			class="form-control"
			id="strength_class"
			name="strength_class">
			{% for strengthclass in strength_classes %}
				<option>{{ strengthclass }}</option>
			{% endfor %}

		</select>
		
	</div>

	<div class="form-group">
		<label for="steel_class">Klasa stali:</label>
		<select
			class="form-control"
			id="steel_class"
			name="steel_class">
				<option>A-IIIN, 500 MPa</option>
		</select>
	</div>


	<h5 align="left" style="color: rgb(0, 153, 255)">Wstępnie przyjęte średnice zbrojenia do obliczeń</h5><br>


	<div class="form-group">
		<label for="diameter_s">Średnica strzemion:</label>
		<select
			class="form-control"
			id="diameter_s"
			name="diameter_s">
				<option>6</option>
				<option>8</option>
				<option>10</option>
				<option>12</option>
			</select>
	</div>


	<div class="form-group">
		<label for="bottom_def_dia">Średnica zbrojenia dolnego:</label>
		<select
			class="form-control"
			id="bottom_def_dia"
			name="bottom_def_dia">
			{% for diameter in diameters %}
				<option>{{ diameter }}</option>
			{% endfor %}

		</select>
		
	</div>

	<div class="form-group">
		<label for="top_def_dia">Średnica zbrojenia górnego:</label>
		<select
			class="form-control"
			id="top_def_dia"
			name="top_def_dia">
			{% for diameter in diameters %}
				<option>{{ diameter }}</option>
			{% endfor %}

		</select>
		
	</div>

	<div class="form-group">
		<label for="cover">Otulina zbrojenia:</label>
		<input
			type="text"
			class="form-control"
			id="cover"
			name="cover"
			placeholder="c [mm]"
		/>
	</div>


	<br />

	<button type="submit" class="btn btn-primary btn-sm">Oblicz wymaganą powierzchnię zbrojenia</button>

</form>
<br>


{% endblock %}



