{% extends "base.html" %}

{% block title %}Belka żelbetowa{% endblock %}

{% block content %}

<br />
<h1 align="center">Belka żelbetowa - wymiarowanie</h1><br>


<h3 align="left">Schemat statyczny i siły wewnętrzne</h3><br>


<h5 align="left">Przyjęte dane:</h5>
<br>

Schemat statyczny belki: {{ static_scheme }}<br>
Długość efektywna: {{ length }} m <br>
Obciążenie równomiernie rozłożone (wartość obliczeniowa): {{ q_def }} kN/m<br>
Wysokość przekroju: {{ height }} cm<br>
Szerokość przekroju: {{ width }} cm<br>
<br>

<h5 align="left">Siły wewnętrzne:</h5>
<div>
{%if static_scheme == "swobodnie podparta" %}
	Maksymalny moment przęsłowy wynosi: {{ M_span }} kNm
{% elif static_scheme == "obustronnie utwierdzona" %}
	Maksymalny moment przęsłowy wynosi: {{ M_span }} kNm
	<br>
	Maksymalny moment podporowy wynosi: {{ M_support }} kNm
{% endif %}
</div>
<br>


<h3 align="left">Wyznaczenie wymaganego zbrojenia:</h3><br>

<form method="POST">


	<div class="form-group">
		<label for="strength_class">Klasa wytrzymałości betonu:</label>
		<select
			class="form-control"
			id="strength_class"
			name="strength_class">
			{% for strengthclass in strength_classes %}
				<option>{{ strengthclass }}</option>
			{% endfor %}

		</select>
		
	</div>

	<div class="form-group">
		<label for="cover">Otulina zbrojenia:</label>
		<input
				type="text"
				class="form-control"
				id="cover"
				name="cover"
				placeholder="c [mm]"
		/>
	</div>

	<div class="form-group">
			<label for="diameter_s">Średnica strzemion:</label>
			<select
				class="form-control"
				id="diameter_s"
				name="diameter_s">
					<option>6</option>
					<option>8</option>
					<option>10</option>
					<option>12</option>
			</select>
	</div>


	<div class="row">
		<div class="col">
			<label for="diameter11">Średnica pręta głównego (typ 1, rząd 1):</label>
			<select
				class="form-control"
				id="diameter11"
				name="diameter11">
				{% for diameter in diameters %}
					<option>{{ diameter }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col">
			<label for="quantity11">Liczba sztuk prętów (typ 1, rząd 1):</label>
			<select
				class="form-control"
				id="quantity11"
				name="quantity11">
				{% for option in range(2, 9) %}
					<option>{{ option }}</option>
				{% endfor %}
			</select>
		</div>
	
	</div><br>

	<div class="row">
		<div class="col">
			<label for="diameter12">Średnica pręta głównego (typ 2, rząd 1):</label>
			<select
				class="form-control"
				id="diameter12"
				name="diameter12">
				{% for diameter in diameters %}
					<option>{{ diameter }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col">
			<label for="quantity12">Liczba sztuk prętów (typ 2, rząd 1):</label>
			<select
				class="form-control"
				id="quantity12"
				name="quantity12">
				{% for option in range(0, 9) %}
					<option>{{ option }}</option>
				{% endfor %}
			</select>
		</div>
	
	</div><br>



	<button type="submit" class="btn btn-primary btn-sm">Sprawdź nośność przekroju</button>

</form>
<br>


<div>

    <img alt="concrete_cross_section" src="/static/concrete_cross_section.jpg" style="max-width: 20%; height: auto;">

</div>
<br>

{% endblock %}



