{% extends "base.html" %}

{% block title %}Belka żelbetowa{% endblock %}

{% block content %}

<br />
<h1 align="center">Belka żelbetowa - wymiarowanie</h1><br>


<h3 align="left">Schemat statyczny i siły wewnętrzne</h3><br>



<h6 align="left">Wybierz schemat statyczny:</h6>
<form method="POST">

	<div class="form-check">
	  <input class="form-check-input" type="radio" name="static_scheme" id="swobodnie podparta" value="swobodnie podparta" checked>
	  <label class="form-check-label" for="swobodnie podparta">
	    Belka swobodnie podparta
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="static_scheme" id="obustronnie utwierdzona" value="obustronnie utwierdzona">
	  <label class="form-check-label" for="obustronnie utwierdzona">
	    Belka obustronnie utwierdzona
	  </label>
	</div>

	<br>

	<div class="form-group">
		<label for="length">Długość efektywna</label>
		<input
			type="text"
			class="form-control"
			id="length"
			name="length"
			placeholder="l [m]"
		/>
		
	</div>
 	<div class="form-group">
		<label for="q_def">Obciążenie równomiernie rozłożone (wartość obliczeniowa)</label>
		<input
			type="text"
			class="form-control"
			id="q_def"
			name="q_def"
			placeholder="q [kN/m]"
		/>
		
	</div>

 	<div class="form-group">
		<label for="height">Wysokość przekroju</label>
		<input
			type="text"
			class="form-control"
			id="height"
			name="height"
			placeholder="h [cm]"
		/>
		
	</div>


 	<div class="form-group">
		<label for="width">Szerokość przekroju</label>
		<input
			type="text"
			class="form-control"
			id="width"
			name="width"
			placeholder="b [cm]"
		/>
		
	</div>

	
	<br />

	<button type="submit" class="btn btn-primary btn-sm">Oblicz siły wewnętrzne</button>

</form>


<!-- <h3 align="left">Wymiarowanie przekroju</h3><br>



<form method="POST">


	<div class="form-group">
		<label for="strength_class">Klasa wytrzymałości betonu:</label>
		<select
			class="form-control"
			id="strength_class"
			name="strength_class">
			{% for strengthclass in strength_classes %}
				<option>{{ strengthclass }}</option>
			{% endfor %}

		</select>
		
	</div>


	<div class="row">
		<div class="col">
			<label for="diameter">Średnica pręta głównego (typ 1, rząd 1)</label>
			<select
				class="form-control"
				id="diameter"
				name="diameter">
				{% for diameter in diameters %}
					<option>{{ diameter }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col">
			<label for="quantity">Liczba sztuk prętów (typ 1, rząd 1)</label>
			<select
				class="form-control"
				id="quantity"
				name="quantity">
				{% for option in range(2, 9) %}
					<option>{{ option }}</option>
				{% endfor %}
			</select>
		</div>
	
		<div class="col">
			<label for="cover">Otulina zbrojenia (typ 1, rząd 1)</label>
			<input
				type="text"
				class="form-control"
				id="cover"
				name="cover"
				placeholder="c [mm]"
			/>
		</div>
	</div><br>


	<div class="form-group">
			<label for="diameter_s">Średnica strzemion</label>
			<select
				class="form-control"
				id="diameter_s"
				name="diameter_s">
					<option>6</option>
					<option>8</option>
					<option>10</option>
					<option>12</option>
			</select>
	</div>


	<button type="submit" class="btn btn-primary btn-sm">Sprawdź nośność przekroju</button>

</form>
<br>


<div>

    <img alt="concrete_cross_section" src="/static/concrete_cross_section.jpg" style="max-width: 20%; height: auto;">

</div>
<br> -->

{% endblock %}



