{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<br>
<h3 align="center">Hi,</h3>

<br>
<b>This is my first attempt to create a simple website. I've worked for the past six years as a structural engineer, so I've created a very basic program for designing concrete beams. If you want to check it out, please log in.</b><br>
<br>

<form method="POST">

	<div class="form-group">
		<label for="email">Email Address</label>
		<input
			type="email"
			class="form-control"
			id="email"
			name="email"
			placeholder="Enter email"
		/>
		
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input
			type="password"
			class="form-control"
			id="password"
			name="password"
			placeholder="Enter password"
		/>
		
	<br />
	<button type="submit" class="btn btn-primary">Login</button>

</form>


{% endblock %}

