{% extends "base.html" %}

{% block title %}Reinforced concrete beam design{% endblock %}

{% block content %}

<br />
<h1 align="center">REINFORCED CONCRETE BEAM DESIGN</h1><br>

This program allows to determine the required area of longitudinal reinforcement for a one span simply supported concrete beam with a rectangular cross section.<br>

<br>
<h3 align="left" style="color: black">Design data</h3><br>

<h5 align="left" style="color: rgb(0, 153, 255)">Geometry</h5><br>


<form method="POST">
	<div class="form-group">
		<label for="length">Effective length:</label>
		<input
			type="number"
			class="form-control"
			id="length"
			name="length"
			min="0.90"
			max="10"
			step="0.05"
			placeholder="l [m]"
		/>	
	</div>

 	<div class="form-group">
		<label for="height">Height of the cross section:</label>
		<input
			type="text"
			class="form-control"
			id="height"
			name="height"
			min="25"
			max="100"
			step="5"		
			placeholder="h [cm]"
		/>
	</div>

 	<div class="form-group">
		<label for="width">Width of the cross section:</label>
		<input
			type="number"
			class="form-control"
			id="width"
			name="width"
			min="18"
			max="80"
			step="1"
			placeholder="b [cm]"
		/>
		
	</div>

	<br>
	<h5 align="left" style="color: rgb(0, 153, 255)">Load</h5><br>

 	<div class="form-group">
		<label for="q_def">Uniform distributed load (design value):</label>
		<input
			type="number"
			class="form-control"
			id="q_def"
			name="q_def"
			min="0"
			max="50"
			step="0.01"		
			placeholder="q [kN/m]"
		/>
		
	</div>

 	<div class="form-group">
		<label for="des_sit">Design situation:</label>
		<select
			class="form-control"
			id="des_sit"
			name="des_sit">
				<option>persistent or transient</option>
				<option>accidental</option>
		</select>
	</div>
	
	<br>
	<h5 align="left" style="color: rgb(0, 153, 255)">Material characteristics</h5><br>


	<div class="form-group">
		<label for="strength_class">Concrete strength class:</label>
		<select
			class="form-control"
			id="strength_class"
			name="strength_class">
			{% for strengthclass in strength_classes %}
				<option>{{ strengthclass }}</option>
			{% endfor %}

		</select>
		
	</div>

	<div class="form-group">
		<label for="steel_class">Steel strength class:</label>
		<select
			class="form-control"
			id="steel_class"
			name="steel_class">
				<option>B500SP</option>
		</select>
	</div>

	<br>
	<h5 align="left" style="color: rgb(0, 153, 255)">Preliminary rebar data</h5><br>


	<div class="form-group">
		<label for="diameter_s">Stirrup diameter:</label>
		<select
			class="form-control"
			id="diameter_s"
			name="diameter_s">
				<option value="6">6 mm</option>
				<option value="8">8 mm</option>
				<option value="10">10 mm</option>
				<option value="12">12 mm</option>
		</select>
	</div>

	<div class="form-group">
		<label for="bottom_def_dia">Bottom rebar diameter:</label>
		<select
			class="form-control"
			id="bottom_def_dia"
			name="bottom_def_dia">
			{% for diameter in diameters %}
				<option value="{{ diameter }}">{{ diameter }} mm</option>
			{% endfor %}
		</select>		
	</div>

	<div class="form-group">
		<label for="top_def_dia">Top rebar diameter:</label>
		<select
			class="form-control"
			id="top_def_dia"
			name="top_def_dia">
			{% for diameter in diameters %}
				<option value="{{ diameter }}">{{ diameter }} mm</option>
			{% endfor %}
		</select>		
	</div>

	<div class="form-group">
		<label for="cover">Concrete cover:</label>
		<select
			class="form-control"
			id="cover"
			name="cover">
			{% for cover in range(25, 65, 5) %}
				<option value="{{ cover }}">{{ cover }} mm</option>
			{% endfor %}
		</select>
	</div>

	<br />

	<button type="submit" class="btn btn-primary btn-sm">Calculate required reinforcement area</button>

</form>
<br>


{% endblock %}



